<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="reset">
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Reset password</h2></div>
                <div class="sect">
					<p class="notice">Operation OK.please go to <strong>{$_SESSION['reemail']}</strong> to view {$INI['system']['abbreviation']}'s Email,click links in Email to reset your Password.</p>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
