<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="cardcode">
			<h2>Do you have card gift?</h2>
			<a href="javascript:void(0);" id="cardcode-link">Input card gift ID</a>
			<p id="cardcode-link-t" class="act">
				<input id="cardcode-text" class="f-input" type="text" name="cardcode" maxlength="8" value="" />
				<input id="cardcode-deal" type="hidden" name="dealid" value="25" />
				<input id="cardcode-verify" type="button" class="formbutton" value="OK" />
			</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
