<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">I have paid successfully,but why no {$INI['system']['couponname']}?</h3>
			<p>Not reach to minimal Daily deal number,once reached,you can see the {$INI['system']['couponname']}了.</p>
			<h3>What is expired order?</h3>
			<p>If one order not paid,whend Daily deal ends,the order becomes invalide and expired automatically.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
