<div class="deal-subscribe">
	<div class="top"></div>
	<div class="body" id="deal-subscribe-body">
		<form id="deal-subscribe-form" method="post" action="/subscribe.php"><table class="address"><tr><td><input type="text" name="email" class="f-text" id="deal-subscribe-form-email" xtip="Please input your email..." value="" /></td><td><input type="hidden" name="city_id" value="{$city['id']}" /><input type="image" src="/static/css/i/button-subscribe.gif" value="Subscribe" /></td></tr></table></form>
		<p class="text">Surprise everyday,<br />we will email you.<br /> <span class="required">*</span> We keep the rights to cancel such service</p>
	</div>
	<div class="bottom"></div>
</div>
