<div id="deal-share">
	<div class="deal-share-top">
		<div class="deal-share-links">
			<h4>Share to:</h4>
			<ul class="cf"><li><a class="im" href="javascript:void(0);" id="deal-share-im">MSN/QQ</a></li><li><a class="kaixin" href="${share_kaixin($team)}" target="_blank">Kaixin</a></li><li><a class="renren" href="${share_renren($team)}" target="_blank">人人</a></li><li><a class="douban" href="${share_douban($team)}" target="_blank">douban</a></li><li><a class="sina" href="${share_sina($team)}" target="_blank">sina</a></li><li><a class="email" href="${share_mail($team)}" id="deal-buy-mailto">Email</a></li></ul>
		</div>
	</div>
	<div class="deal-share-fix"></div>
	<div id="deal-share-im-c">
		<div class="deal-share-im-b">
			<h3>Copy it and sent through MSN or ICQ:</h3>
			<p><input id="share-copy-text" type="text" value="{$INI['system']['wwwprefix']}/team.php?id={$team['id']}&r={$login_user_id}" size="30" class="f-input" tip="复制成功,请粘贴到Your MSN或QQ上推荐给Your 好友"/> <input id="share-copy-button" type="button" value="复制" class="formbutton" /></p>
		</div>
	</div>
</div>
