<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="account-charge">
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Store</h2></div>
                <div class="sect">
                    <div class="charge">
                        <form id="account-charge-form" action="/order/charge.php" method="post" class="validator">
                            <p>Please input amout:</p>
                            <p class="number">
                                <input type="text" maxlength="6" class="f-text" name="money" require="true" datatype="number" value="{$money}" /> Dollars  (不支持小数,Minimal  1 Dollars )
                            </p>
                            <p id="account-charge-tip" class="tip" style="visibility:hidden;"></p>
                            <div class="choose">
                                <p class="choose-pay-type">Please choose payment method:</p>
                                <ul class="typelist">
									<!--{if $INI['alipay']['mid']}-->
										<li><input id="check-alipay" type="radio" name="paytype" value="alipay" {$ordercheck['alipay']} /><label for="check-alipay" class="alipay">支付宝交易,推荐淘宝User 使用</label></li>
									<!--{/if}-->
									<!--{if $INI['tenpay']['mid']}-->
										<li><input id="check-tenpay" type="radio" name="paytype" value="tenpay" {$ordercheck['tenpay']} /><label for="check-tenpay" class="tenpay">财付通交易,推荐QQUser 使用</label></li>
									<!--{/if}-->
									<!--{if $INI['chinabank']['mid']}-->
										<li><input id="check-chinabank" type="radio" name="paytype" value="chinabank" {$ordercheck['chinabank']} /><label for="check-chinabank" class="chinabank">支持招商,工行,建行,中行等主流银行的网银支付</label></li>
									<!--{/if}-->
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <p class="commit">
                                <input type="submit" value="goto pay" class="formbutton" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
