<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('pay')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>pay Order</h2>
					<ul class="filter"><li><form method="get">User Email:<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" >&nbsp;Daily deal id:<input type="text" name="team_id" class="h-input number" value="{$team_id}" >&nbsp;<input type="submit" value="Filter" class="formbutton"  style="padding:1px 6px;"/><form></li></ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="340">item</th><th width="180">User </th><th width="40" nowrap>Quantity</th><th width="50" nowrap>total money</th><th width="50" nowrap>still need pay</th><th width="50" nowrap>pay</th><th width="50" nowrap>delivery</th><th width="50" nowrap>Operation</th></tr>
					<!--{loop $orders $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a>)</td>
						<td><a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink">{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</a></td>
						<td>{$one['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['credit'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['money'])}</td>
						<td>{$option_delivery[$teams[$one['team_id']]['delivery']]}${$one['express_id']?'Y':''}</td>
						<td class="op" nowrap><a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink">Info</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="9">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
