<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('upgrade')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>zuitu</h2>
				</div>
                <div class="sect">
					<div class="wholetip clear"><h3>Newest version{$newversion}</h3></div>
					<div style="margin:0 20px;">
					<!--{if $isnew}-->
						<p>Your current version is:<strong>{$newversion}</strong></p>
					<!--{else}-->
						<p>Your current version is not the newest version,please update.</p>
					<!--{/if}-->
					</div>
				<!--{if $install}-->
					<div class="wholetip clear"><h3>New installation package</h3></div>
					<div style="margin:0 20px;">
						<!--{loop $install $v $l}-->
						<p><a href="{$l}">ZuituGo_{$v}</a></p>
						<!--{/loop}-->
					</div>
				<!--{/if}-->
				<!--{if $upgrade}-->
					<div class="wholetip clear"><h3>Installation package</h3></div>
					<div style="margin:0 20px;">
					<!--{loop $upgrade $v $l}-->
						<p><a href="{$l}">ZuituGo_Upgrade_{$v}</a></p>
					<!--{if $upgradedesc[$v]}-->
						<p style="text-index:2em;">{$upgradedesc[$v]}</p>
					<!--{/if}-->
					<!--{/loop}-->
					</div>
				<!--{/if}-->
				<!--{if $patch}-->
					<div class="wholetip clear"><h3>Patches</h3></div>
					<div style="margin:0 20px;">
					<!--{loop $patch $v $l}-->
						<p><a href="{$l}">ZuituGo_Patch_{$v}</a></p>
					<!--{if $patchdesc[$v]}-->
						<p style="text-index:2em;">{$patchdesc[$v]}</p>
					<!--{/if}-->
					<!--{/loop}-->
					</div>
				<!--{/if}-->
					<div class="wholetip clear"><h3>How to update dabase</h3></div>
					<div style="margin:0 20px;">
						<p>1,firstly update database structure,<b>it will not affct data now</b>,directly click<b><a href="/manage/system/upgrade.php?action=db">here </a></b>to finish update dabase structure.</p>
						<p>2,Download update package,directly overwrite the dabase,if template changed,please do template backup.</p>
						<p>3,after file copied,update finished.</p>
					</div>

					<div class="wholetip clear"><h3>software info</h3></div>
					<div style="margin:0 20px;">
					<!--{loop $software $n $meta}-->
						<p>{$n}:<!--{if $meta[0]=='link'}--><a href="{$meta[1]}" target="_blank">{$meta[1]}</a><!--{else}-->{$meta[1]}<!--{/if}--></p>
					<!--{/loop}-->
					</div>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
