<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="order-pay-return" class="box">
        <div class="box-top"></div>
        <div class="box-content">
                        <div class="head success">
                <h2>Congratulations,pay successfully.</h2>
            </div>
            <div class="sect">
            <p class="nologin-tip">Pay successfully,please<a href="javascript:;" onclick="window.close();return false;">close this window</a></p>            </div>
                    </div>
        <div class="box-bottom"></div>
    </div>
</div>
<div id="sidebar">
    <div class="sbox">
        <div class="sbox-top"></div>
        <div class="sbox-content">
            <div class="side-tip">
                <h3 class="first">Invite get bonus</h3>
                <p>You get 10 dollars for each one you invitde<br />
                <a href="/account/referrals.php" target="_blank">Click here to get your inviting links</a>
                </p>
            </div>
        </div>
        <div class="sbox-bottom"></div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
